In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_path = 'C:/Users/ASUS/OneDrive/Рабочий стол/AirPassengers.csv'
df = pd.read_csv('C:/Users/ASUS/OneDrive/Рабочий стол/AirPassengers.csv')

df

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [3]:
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [4]:
df['Month'] = pd.to_datetime(df['Month'])
df.set_index('Month', inplace=True)
df.sort_index(inplace=True)

In [5]:
train_size = int(0.8 * len(df))
train, test = df.iloc[:train_size], df.iloc[train_size:]

In [6]:
def fit_arima_model(train_data, order):
    model = ARIMA(train_data, order=order)
    model_fit = model.fit()
    return model_fit

def fit_sarimax_model(train_data, order, seasonal_order):
    model = SARIMAX(train_data, order=order, seasonal_order=seasonal_order)
    model_fit = model.fit()
    return model_fit

def predict(model_fit, start, end):
    return model_fit.predict(start=start, end=end, dynamic=False)

In [7]:
order_arima = (1, 1, 1)
order_sarimax = (1, 1, 1)
seasonal_order_sarimax = (1, 1, 1, 12)

In [8]:
arima_model_fit = fit_arima_model(train, order=order_arima)

C:\Users\ASUS\anaconda3\Anakonda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
C:\Users\ASUS\anaconda3\Anakonda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
C:\Users\ASUS\anaconda3\Anakonda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [9]:
sarimax_model_fit = fit_sarimax_model(train, order=order_sarimax, seasonal_order=seasonal_order_sarimax)

C:\Users\ASUS\anaconda3\Anakonda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
C:\Users\ASUS\anaconda3\Anakonda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [10]:
arima_predictions = predict(arima_model_fit, start=test.index[0], end=test.index[-1])
sarimax_predictions = predict(sarimax_model_fit, start=test.index[0], end=test.index[-1])

In [11]:
arima_mse = mean_squared_error(test, arima_predictions)
arima_mae = mean_absolute_error(test, arima_predictions)
sarimax_mse = mean_squared_error(test, sarimax_predictions)
sarimax_mae = mean_absolute_error(test, sarimax_predictions)

In [13]:
print("ARIMA - Mean Squared Error:", arima_mse)

ARIMA - Mean Squared Error: 9506.175832597319

In [14]:
print("ARIMA - Mean Absolute Error:", arima_mae)

ARIMA - Mean Absolute Error: 85.25415594112127

In [15]:
print("SARIMAX - Mean Squared Error:", sarimax_mse)

SARIMAX - Mean Squared Error: 908.5309976898773

In [16]:
print("SARIMAX - Mean Absolute Error:", sarimax_mae)

SARIMAX - Mean Absolute Error: 23.555575268637423